<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.firebase_chat_app">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Firsebase_login_signup">
        <activity android:name="com.example.firebase_chat_app.ChartActivity"
            android:parentActivityName="com.example.firebase_chat_app.MainActivity"></activity>
        <activity
            android:name="com.example.firebase_chat_app.ProfileActivity"
            android:parentActivityName="com.example.firebase_chat_app.MainActivity" />
        <activity
            android:name="com.example.firebase_chat_app.UsersActivity"
            android:parentActivityName="com.example.firebase_chat_app.MainActivity" />
        <activity
            android:name="com.example.firebase_chat_app.StatusActivity"
            android:parentActivityName="com.example.firebase_chat_app.SettingsActivity" />
        <activity
            android:name="com.example.firebase_chat_app.SettingsActivity"
            android:parentActivityName="com.example.firebase_chat_app.MainActivity" />
        <activity
            android:name="com.example.firebase_chat_app.Login"
            android:parentActivityName="com.example.firebase_chat_app.FirstActivity" />
        <activity
            android:name="com.example.firebase_chat_app.registerationActivity"
            android:parentActivityName="com.example.firebase_chat_app.FirstActivity" />
        <activity android:name="com.example.firebase_chat_app.FirstActivity" />
        <activity android:name="com.example.firebase_chat_app.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
    </application>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>